{% load staticfiles %}

{% if present_step == 4501 %}
<img class="fit-picture"
     src="{% static 'img/quality_change_management/4501中.png' %}"
     alt="4501中">
{% elif present_step > 4501 %}
<img class="fit-picture"
     src="{% static 'img/quality_change_management/4501済.png' %}"
     alt="4501済">
{% else %}
<img class="fit-picture"
     src="{% static 'img/quality_change_management/4501未.png' %}"
     alt="4501未">
{% endif %}

<br>

<img class="fit-picture"
     src="{% static 'img/quality_change_management/無題.png' %}"
     alt="矢印"
     style="text-align:center">

<br>

{% if present_step == 4505 %}
<img class="fit-picture"
     src="{% static 'img/quality_change_management/4505中.png' %}"
     alt="4505中">
{% elif present_step > 4505 %}
<img class="fit-picture"
     src="{% static 'img/quality_change_management/4505済.png' %}"
     alt="4505済">
{% else %}
<img class="fit-picture"
     src="{% static 'img/quality_change_management/4505未.png' %}"
     alt="4505未">
{% endif %}
<br>

<img class="fit-picture"
     src="{% static 'img/quality_change_management/無題.png' %}"
     alt="矢印"
     style="text-align:center">

<br>

{% if present_step == 4509 %}
<img class="fit-picture"
     src="{% static 'img/quality_change_management/4509中.png' %}"
     alt="4509中">
{% elif present_step > 4509 %}
<img class="fit-picture"
     src="{% static 'img/quality_change_management/4509済.png' %}"
     alt="4509済">
{% else %}
<img class="fit-picture"
     src="{% static 'img/quality_change_management/4509未.png' %}"
     alt="4509未">
{% endif %}
<br>

<img class="fit-picture"
     src="{% static 'img/quality_change_management/無題.png' %}"
     alt="矢印"
     style="text-align:center">

<br>

{% if present_step == 4513 %}
<img class="fit-picture"
     src="{% static 'img/quality_change_management/4513中.png' %}"
     alt="4513中">
{% elif present_step > 4513 %}
<img class="fit-picture"
     src="{% static 'img/quality_change_management/4513済.png' %}"
     alt="4513済">
{% else %}
<img class="fit-picture"
     src="{% static 'img/quality_change_management/4513未.png' %}"
     alt="4513未">
{% endif %}
<br>

<img class="fit-picture"
     src="{% static 'img/quality_change_management/無題.png' %}"
     alt="矢印"
     style="text-align:center">

<br>

{% if present_step == 4517 %}
<img class="fit-picture"
     src="{% static 'img/quality_change_management/4517中_1.png' %}"
     alt="4517中_1">
{% elif present_step > 4517 %}
<img class="fit-picture"
     src="{% static 'img/quality_change_management/4517済_1.png' %}"
     alt="4517済_1">
{% else %}
<img class="fit-picture"
     src="{% static 'img/quality_change_management/4517未_1.png' %}"
     alt="4517未_1">
{% endif %}
