{% extends 'quality_change_management/layout.html' %}
{% load staticfiles %}
{% block title %}変更管理ツール{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<h1>変更管理</h1>
<button class="w-10 btn btn-primary btn-lg" type="button" onclick="location.href='{% url 'detail' 0 %}'">新規登録</button>
　{{ department }}　{{ request.user.last_name }}　{{ request.user.first_name }}
<br><br>

<table class="table table-bordered border-dark">
    <tr class="row">
        <th class="col">原課<br>原課変更登録作成中</th>
        <th class="col">原課<br>原課変更承認待</th>
        <th class="col">原課<br>原課変更部長承認待</th>
        <th class="col">設備管理<br>工務部長承認待</th>
        <th class="col">安全/品質<br>所管部長承認待</th>
        <th class="col">安全/品質(Ⅲ)<br>委員会承認結果待</th>
        <th class="col">原課<br>変更実施待</th>
        <th class="col">安全/品質<br>所管変更評価待</th>
        <th class="col">原課<br>原課変更評価確認待</th>
        <th class="col"><br>却下通達確認待</th>
    </tr>
    <tr class="row">
        {% for progress_count in progress_count %}
        <td class="col">{{ progress_count }}</td>
        {% endfor %}
    </tr>
</table>

<br><br>

<form action="{% url 'top_page' %}" method="post">
    {% csrf_token %}
    <div class="form-control">
        <div class="row">
            <div style="display:inline-flex">
                {% for progress_form in progress_form %}
                <div class="col-2">{{ progress_form.label }}{{ progress_form }}</div>
                {% endfor %}
                <div class="col-2"><input type="submit" value="click" class="btn btn-primary mt-2"></div>
            </div>
            {% comment %}
            <table clase="table">
                {{ progress_form.as_table }}
            </table>
            {% endcomment %}
        </div>
    </div>
</form>

<br><br>

<table class="table table-bordered border-dark">
    <thead class="table-info">
    <tr>
        <th scope="col"></th>
        <th scope="col">管理No</th>
        <th scope="col">進捗状況</th>
        <th scope="col">作業区分</th>
        <th scope="col">次作業者</th>
        <th scope="col">タイトル</th>
        <th scope="col">変更レベル(品質、安全)</th>
        <th scope="col">所管判定(品質、安全)</th>
        <th scope="col">変更日</th>
        <th scope="col">変更対象(方法、設備、原料など、人)</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
    </tr>
    </thead>
    {% for progress in progress_list %}
    <tbody>
    <tr>
        <th scope="row"><a href="{% url 'detail' progress.request_id %}">開く</a></th>
        <td>{{ progress.request_id }}</td>
        <td>{{ progress.present_step.step_name }}</td>
        <td>作業区分</td>
        <td>{{ progress.present_operator }}</td>
        <td>{{ progress.request.title }}</td>
        <td>{{ progress.request.level }}</td>
        <td>所管判定(品質、安全)</td>
        <td>{{ progress.request.delivery_date }}</td>
        <td>{{ progress.request.method }}</td>
        <td>Last</td>
        <td>@Handle</td>
    </tr>
    </tbody>
    {% endfor %}
</table>

<br><br><br><br><br><br><br><br>


{% endblock %}
